<h1><%= "#{@application.name}" %> Application Details</h1>
<p><%= "Name: #{@application.name}" %></p>
<p><%= "Full address: #{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p><%= "Applicant statement: #{@application.description}" %></p>


<p> Pet(s) applied for:  </p>
<% @application.pets.each do |pet_applied| %>
  <div id="appliedFor<%= pet_applied.id%>">
    <%= link_to "#{pet_applied.name}", "/pets/#{pet_applied.id}" %>
  </div>
<% end %>


<p> Application Status: <%= @application.status %></p>
<% if @application.status == "In Progress" %>
  <p>Add a Pet to this Application</p>
    <%= render partial: "shared/search", locals: {
      path: "/applications/#{@application.id}",
      method: :get,
      button_text: "Submit"} %>
  <% if params[:search] %>
    <% @pets.each do |pet| %>
    <div id="petEntry<%= pet.id %>">
      <h3><%= pet.name %></h3>
      <p>Age: <%= pet.age %></p>
      <p>Breed: <%= pet.breed %></p>
      <p>Adoptable: <%=pet.adoptable %></p>
      <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
      <%= button_to "Adopt #{pet.name}", "/pet_applications/new", method: :post, params: {pet_id: pet.id, application_id: @application.id} %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @application.pets.count > 0 && @application.status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
  <%= f.label "Please enter why you would make a good home for these pet(s)" %>
  <%= f.text_field :description %>
  <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
